@font-face {
    font-family: Boing-Bold;
    src: url(../fonts/boing-bold/Boing-Bold.woff2) format("woff2");
    font-display: block;
}

html {
    height: 100%;
    background: #000E16;
}	

body {
    margin: 0px;
    overflow: hidden;
}

#name {
    letter-spacing: -0.08em;
    text-align: center;
    font-family: "proxima_nova_altblack", Georgia, 'Times New Roman', Times, serif;
    font-size: 5vw;
    color: #B82E49;
}

#email {
    text-align: center;
    font-family: "Boing-Bold", Georgia, 'Times New Roman', Times, serif;
    font-size: 1vw;
    color: #fff;
    padding-top: 5%;
}

#container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 40%;
    height: 30%;
}

#socialmedia {
    display: flex;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
}

.icon {
    fill: #BB9D05;
    fill-rule: evenodd;
    transition: all 0.1s;
    transform-origin: 50% 50%;
}

.icon:hover {
    fill: #FFE45D;
    fill-rule: evenodd;
    transform: scale(1.08);
}

#background {

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    background-color: rgb(126, 119, 121);
    height: 660px;
    transform: skewY(-12deg)
}
