.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 40%;
  height: 30%;
  animation: slide 0.5s, fadein 1s;
}

@keyframes slide {
  0% {
    transform: translate(0%, 10%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
