.socialmedia {
  display: flex;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 15%;
}

.svg-wrapper {
  height: 4vh;
  width: 4vw;
}

.icon {
  fill: #bb9d05;
  fill-rule: evenodd;
  transition: all 0.1s;
  transform-origin: center;
  transform-box: fill-box;
}

.icon:hover {
  fill: #ffe45d;
  fill-rule: evenodd;
  transform: scale(1.08);
}