.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 40%;
  height: 30%;
}

.name {
  letter-spacing: -0.08em;
  text-align: center;
  font-family: "proxima_nova_altblack", Georgia, "Times New Roman", Times, serif;
  font-size: 5vw;
  color: #b82e49;
}

.socialmedia {
  display: flex;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 15%;
}

.svg-wrapper {
  height: 4vh;
  width: 4vw;
}

.icon {
  fill: #bb9d05;
  fill-rule: evenodd;
  transition: all 0.1s;
  transform-origin: center;
  transform-box: fill-box;
}

.icon:hover {
  fill: #ffe45d;
  fill-rule: evenodd;
  transform: scale(1.08);
}
